.builder-body,
.builder-html,
body,
html {
    height: 100%;
    font-size: 15px;
    line-height: 1.6
}

@media (min-width:768px) {
    .builder-body,
    .builder-html,
    body,
    html {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .builder-body,
    .builder-html,
    body,
    html {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .builder-body,
    .builder-html,
    body,
    html {
        font-size: 15px
    }
}

.__popup-iframe.builder-body,
.__popup-iframe.builder-html,
body.__popup-iframe,
html.__popup-iframe {
    background: 0 0
}

.font-loaded {
    font-family: "Open Sans", sans-serif
}

.font-loaded .h1,
.font-loaded .h2,
.font-loaded .h3,
.font-loaded .h4,
.font-loaded .h5,
.font-loaded .h6,
.font-loaded h1,
.font-loaded h2,
.font-loaded h3,
.font-loaded h4,
.font-loaded h5,
.font-loaded h6 {
    font-family: "Open Sans", sans-serif
}

@media print {
    a[href]:after {
        content: none !important
    }
}

.h1,
h1 {
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 39px
}

@media (min-width:768px) {
    .h1,
    h1 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 39px
    }
}

@media (min-width:992px) {
    .h1,
    h1 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 39px
    }
}

@media (min-width:1200px) {
    .h1,
    h1 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 39px
    }
}

.h1+.h1,
.h1+h1,
.h2+.h1,
.h2+h1,
.h3+.h1,
.h3+h1,
.h4+.h1,
.h4+h1,
.h5+.h1,
.h5+h1,
.h6+.h1,
.h6+h1,
h1+.h1,
h1+h1,
h2+.h1,
h2+h1,
h3+.h1,
h3+h1,
h4+.h1,
h4+h1,
h5+.h1,
h5+h1,
h6+.h1,
h6+h1 {
    margin-top: 20px;
    padding-top: 0
}

@media (min-width:768px) {
    .h1+.h1,
    .h1+h1,
    .h2+.h1,
    .h2+h1,
    .h3+.h1,
    .h3+h1,
    .h4+.h1,
    .h4+h1,
    .h5+.h1,
    .h5+h1,
    .h6+.h1,
    .h6+h1,
    h1+.h1,
    h1+h1,
    h2+.h1,
    h2+h1,
    h3+.h1,
    h3+h1,
    h4+.h1,
    h4+h1,
    h5+.h1,
    h5+h1,
    h6+.h1,
    h6+h1 {
        margin-top: 20px
    }
}

@media (min-width:992px) {
    .h1+.h1,
    .h1+h1,
    .h2+.h1,
    .h2+h1,
    .h3+.h1,
    .h3+h1,
    .h4+.h1,
    .h4+h1,
    .h5+.h1,
    .h5+h1,
    .h6+.h1,
    .h6+h1,
    h1+.h1,
    h1+h1,
    h2+.h1,
    h2+h1,
    h3+.h1,
    h3+h1,
    h4+.h1,
    h4+h1,
    h5+.h1,
    h5+h1,
    h6+.h1,
    h6+h1 {
        margin-top: 20px
    }
}

@media (min-width:1200px) {
    .h1+.h1,
    .h1+h1,
    .h2+.h1,
    .h2+h1,
    .h3+.h1,
    .h3+h1,
    .h4+.h1,
    .h4+h1,
    .h5+.h1,
    .h5+h1,
    .h6+.h1,
    .h6+h1,
    h1+.h1,
    h1+h1,
    h2+.h1,
    h2+h1,
    h3+.h1,
    h3+h1,
    h4+.h1,
    h4+h1,
    h5+.h1,
    h5+h1,
    h6+.h1,
    h6+h1 {
        margin-top: 20px
    }
}

.h2,
h2 {
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 32px
}

@media (min-width:768px) {
    .h2,
    h2 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 32px
    }
}

@media (min-width:992px) {
    .h2,
    h2 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 32px
    }
}

@media (min-width:1200px) {
    .h2,
    h2 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 32px
    }
}

.h1+.h2,
.h1+h2,
.h2+.h2,
.h2+h2,
.h3+.h2,
.h3+h2,
.h4+.h2,
.h4+h2,
.h5+.h2,
.h5+h2,
.h6+.h2,
.h6+h2,
h1+.h2,
h1+h2,
h2+.h2,
h2+h2,
h3+.h2,
h3+h2,
h4+.h2,
h4+h2,
h5+.h2,
h5+h2,
h6+.h2,
h6+h2 {
    margin-top: 20px;
    padding-top: 0
}

@media (min-width:768px) {
    .h1+.h2,
    .h1+h2,
    .h2+.h2,
    .h2+h2,
    .h3+.h2,
    .h3+h2,
    .h4+.h2,
    .h4+h2,
    .h5+.h2,
    .h5+h2,
    .h6+.h2,
    .h6+h2,
    h1+.h2,
    h1+h2,
    h2+.h2,
    h2+h2,
    h3+.h2,
    h3+h2,
    h4+.h2,
    h4+h2,
    h5+.h2,
    h5+h2,
    h6+.h2,
    h6+h2 {
        margin-top: 20px
    }
}

@media (min-width:992px) {
    .h1+.h2,
    .h1+h2,
    .h2+.h2,
    .h2+h2,
    .h3+.h2,
    .h3+h2,
    .h4+.h2,
    .h4+h2,
    .h5+.h2,
    .h5+h2,
    .h6+.h2,
    .h6+h2,
    h1+.h2,
    h1+h2,
    h2+.h2,
    h2+h2,
    h3+.h2,
    h3+h2,
    h4+.h2,
    h4+h2,
    h5+.h2,
    h5+h2,
    h6+.h2,
    h6+h2 {
        margin-top: 20px
    }
}

@media (min-width:1200px) {
    .h1+.h2,
    .h1+h2,
    .h2+.h2,
    .h2+h2,
    .h3+.h2,
    .h3+h2,
    .h4+.h2,
    .h4+h2,
    .h5+.h2,
    .h5+h2,
    .h6+.h2,
    .h6+h2,
    h1+.h2,
    h1+h2,
    h2+.h2,
    h2+h2,
    h3+.h2,
    h3+h2,
    h4+.h2,
    h4+h2,
    h5+.h2,
    h5+h2,
    h6+.h2,
    h6+h2 {
        margin-top: 20px
    }
}

.h3,
h3 {
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 26px
}

@media (min-width:768px) {
    .h3,
    h3 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 26px
    }
}

@media (min-width:992px) {
    .h3,
    h3 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 26px
    }
}

@media (min-width:1200px) {
    .h3,
    h3 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 26px
    }
}

.h1+.h3,
.h1+h3,
.h2+.h3,
.h2+h3,
.h3+.h3,
.h3+h3,
.h4+.h3,
.h4+h3,
.h5+.h3,
.h5+h3,
.h6+.h3,
.h6+h3,
h1+.h3,
h1+h3,
h2+.h3,
h2+h3,
h3+.h3,
h3+h3,
h4+.h3,
h4+h3,
h5+.h3,
h5+h3,
h6+.h3,
h6+h3 {
    margin-top: 20px;
    padding-top: 0
}

@media (min-width:768px) {
    .h1+.h3,
    .h1+h3,
    .h2+.h3,
    .h2+h3,
    .h3+.h3,
    .h3+h3,
    .h4+.h3,
    .h4+h3,
    .h5+.h3,
    .h5+h3,
    .h6+.h3,
    .h6+h3,
    h1+.h3,
    h1+h3,
    h2+.h3,
    h2+h3,
    h3+.h3,
    h3+h3,
    h4+.h3,
    h4+h3,
    h5+.h3,
    h5+h3,
    h6+.h3,
    h6+h3 {
        margin-top: 20px
    }
}

@media (min-width:992px) {
    .h1+.h3,
    .h1+h3,
    .h2+.h3,
    .h2+h3,
    .h3+.h3,
    .h3+h3,
    .h4+.h3,
    .h4+h3,
    .h5+.h3,
    .h5+h3,
    .h6+.h3,
    .h6+h3,
    h1+.h3,
    h1+h3,
    h2+.h3,
    h2+h3,
    h3+.h3,
    h3+h3,
    h4+.h3,
    h4+h3,
    h5+.h3,
    h5+h3,
    h6+.h3,
    h6+h3 {
        margin-top: 20px
    }
}

@media (min-width:1200px) {
    .h1+.h3,
    .h1+h3,
    .h2+.h3,
    .h2+h3,
    .h3+.h3,
    .h3+h3,
    .h4+.h3,
    .h4+h3,
    .h5+.h3,
    .h5+h3,
    .h6+.h3,
    .h6+h3,
    h1+.h3,
    h1+h3,
    h2+.h3,
    h2+h3,
    h3+.h3,
    h3+h3,
    h4+.h3,
    h4+h3,
    h5+.h3,
    h5+h3,
    h6+.h3,
    h6+h3 {
        margin-top: 20px
    }
}

.h4,
h4 {
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 22px
}

@media (min-width:768px) {
    .h4,
    h4 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 22px
    }
}

@media (min-width:992px) {
    .h4,
    h4 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 22px
    }
}

@media (min-width:1200px) {
    .h4,
    h4 {
        padding-top: 20px;
        margin-bottom: 10px;
        font-size: 22px
    }
}

.h1+.h4,
.h1+h4,
.h2+.h4,
.h2+h4,
.h3+.h4,
.h3+h4,
.h4+.h4,
.h4+h4,
.h5+.h4,
.h5+h4,
.h6+.h4,
.h6+h4,
h1+.h4,
h1+h4,
h2+.h4,
h2+h4,
h3+.h4,
h3+h4,
h4+.h4,
h4+h4,
h5+.h4,
h5+h4,
h6+.h4,
h6+h4 {
    margin-top: 20px;
    padding-top: 0
}

@media (min-width:768px) {
    .h1+.h4,
    .h1+h4,
    .h2+.h4,
    .h2+h4,
    .h3+.h4,
    .h3+h4,
    .h4+.h4,
    .h4+h4,
    .h5+.h4,
    .h5+h4,
    .h6+.h4,
    .h6+h4,
    h1+.h4,
    h1+h4,
    h2+.h4,
    h2+h4,
    h3+.h4,
    h3+h4,
    h4+.h4,
    h4+h4,
    h5+.h4,
    h5+h4,
    h6+.h4,
    h6+h4 {
        margin-top: 20px
    }
}

@media (min-width:992px) {
    .h1+.h4,
    .h1+h4,
    .h2+.h4,
    .h2+h4,
    .h3+.h4,
    .h3+h4,
    .h4+.h4,
    .h4+h4,
    .h5+.h4,
    .h5+h4,
    .h6+.h4,
    .h6+h4,
    h1+.h4,
    h1+h4,
    h2+.h4,
    h2+h4,
    h3+.h4,
    h3+h4,
    h4+.h4,
    h4+h4,
    h5+.h4,
    h5+h4,
    h6+.h4,
    h6+h4 {
        margin-top: 20px
    }
}

@media (min-width:1200px) {
    .h1+.h4,
    .h1+h4,
    .h2+.h4,
    .h2+h4,
    .h3+.h4,
    .h3+h4,
    .h4+.h4,
    .h4+h4,
    .h5+.h4,
    .h5+h4,
    .h6+.h4,
    .h6+h4,
    h1+.h4,
    h1+h4,
    h2+.h4,
    h2+h4,
    h3+.h4,
    h3+h4,
    h4+.h4,
    h4+h4,
    h5+.h4,
    h5+h4,
    h6+.h4,
    h6+h4 {
        margin-top: 20px
    }
}

.h5,
h5 {
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 19px
}

@media (min-width:768px) {
    .h5,
    h5 {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 19px
    }
}

@media (min-width:992px) {
    .h5,
    h5 {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 19px
    }
}

@media (min-width:1200px) {
    .h5,
    h5 {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 19px
    }
}

.h1+.h5,
.h1+h5,
.h2+.h5,
.h2+h5,
.h3+.h5,
.h3+h5,
.h4+.h5,
.h4+h5,
.h5+.h5,
.h5+h5,
.h6+.h5,
.h6+h5,
h1+.h5,
h1+h5,
h2+.h5,
h2+h5,
h3+.h5,
h3+h5,
h4+.h5,
h4+h5,
h5+.h5,
h5+h5,
h6+.h5,
h6+h5 {
    margin-top: 10px;
    padding-top: 0
}

@media (min-width:768px) {
    .h1+.h5,
    .h1+h5,
    .h2+.h5,
    .h2+h5,
    .h3+.h5,
    .h3+h5,
    .h4+.h5,
    .h4+h5,
    .h5+.h5,
    .h5+h5,
    .h6+.h5,
    .h6+h5,
    h1+.h5,
    h1+h5,
    h2+.h5,
    h2+h5,
    h3+.h5,
    h3+h5,
    h4+.h5,
    h4+h5,
    h5+.h5,
    h5+h5,
    h6+.h5,
    h6+h5 {
        margin-top: 10px
    }
}

@media (min-width:992px) {
    .h1+.h5,
    .h1+h5,
    .h2+.h5,
    .h2+h5,
    .h3+.h5,
    .h3+h5,
    .h4+.h5,
    .h4+h5,
    .h5+.h5,
    .h5+h5,
    .h6+.h5,
    .h6+h5,
    h1+.h5,
    h1+h5,
    h2+.h5,
    h2+h5,
    h3+.h5,
    h3+h5,
    h4+.h5,
    h4+h5,
    h5+.h5,
    h5+h5,
    h6+.h5,
    h6+h5 {
        margin-top: 10px
    }
}

@media (min-width:1200px) {
    .h1+.h5,
    .h1+h5,
    .h2+.h5,
    .h2+h5,
    .h3+.h5,
    .h3+h5,
    .h4+.h5,
    .h4+h5,
    .h5+.h5,
    .h5+h5,
    .h6+.h5,
    .h6+h5,
    h1+.h5,
    h1+h5,
    h2+.h5,
    h2+h5,
    h3+.h5,
    h3+h5,
    h4+.h5,
    h4+h5,
    h5+.h5,
    h5+h5,
    h6+.h5,
    h6+h5 {
        margin-top: 10px
    }
}

.h6,
h6 {
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 17px
}

@media (min-width:768px) {
    .h6,
    h6 {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 17px
    }
}

@media (min-width:992px) {
    .h6,
    h6 {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 17px
    }
}

@media (min-width:1200px) {
    .h6,
    h6 {
        padding-top: 10px;
        margin-bottom: 5px;
        font-size: 17px
    }
}

.h1+.h6,
.h1+h6,
.h2+.h6,
.h2+h6,
.h3+.h6,
.h3+h6,
.h4+.h6,
.h4+h6,
.h5+.h6,
.h5+h6,
.h6+.h6,
.h6+h6,
h1+.h6,
h1+h6,
h2+.h6,
h2+h6,
h3+.h6,
h3+h6,
h4+.h6,
h4+h6,
h5+.h6,
h5+h6,
h6+.h6,
h6+h6 {
    margin-top: 10px;
    padding-top: 0
}

@media (min-width:768px) {
    .h1+.h6,
    .h1+h6,
    .h2+.h6,
    .h2+h6,
    .h3+.h6,
    .h3+h6,
    .h4+.h6,
    .h4+h6,
    .h5+.h6,
    .h5+h6,
    .h6+.h6,
    .h6+h6,
    h1+.h6,
    h1+h6,
    h2+.h6,
    h2+h6,
    h3+.h6,
    h3+h6,
    h4+.h6,
    h4+h6,
    h5+.h6,
    h5+h6,
    h6+.h6,
    h6+h6 {
        margin-top: 10px
    }
}

@media (min-width:992px) {
    .h1+.h6,
    .h1+h6,
    .h2+.h6,
    .h2+h6,
    .h3+.h6,
    .h3+h6,
    .h4+.h6,
    .h4+h6,
    .h5+.h6,
    .h5+h6,
    .h6+.h6,
    .h6+h6,
    h1+.h6,
    h1+h6,
    h2+.h6,
    h2+h6,
    h3+.h6,
    h3+h6,
    h4+.h6,
    h4+h6,
    h5+.h6,
    h5+h6,
    h6+.h6,
    h6+h6 {
        margin-top: 10px
    }
}

@media (min-width:1200px) {
    .h1+.h6,
    .h1+h6,
    .h2+.h6,
    .h2+h6,
    .h3+.h6,
    .h3+h6,
    .h4+.h6,
    .h4+h6,
    .h5+.h6,
    .h5+h6,
    .h6+.h6,
    .h6+h6,
    h1+.h6,
    h1+h6,
    h2+.h6,
    h2+h6,
    h3+.h6,
    h3+h6,
    h4+.h6,
    h4+h6,
    h5+.h6,
    h5+h6,
    h6+.h6,
    h6+h6 {
        margin-top: 10px
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    text-transform: none
}

@media (min-width:768px) {
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-style: normal;
        font-weight: 700;
        text-transform: none
    }
}

@media (min-width:992px) {
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-style: normal;
        font-weight: 700;
        text-transform: none
    }
}

@media (min-width:1200px) {
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-style: normal;
        font-weight: 700;
        text-transform: none
    }
}

.h1.__without-margin-top,
.h2.__without-margin-top,
.h3.__without-margin-top,
.h4.__without-margin-top,
.h5.__without-margin-top,
.h6.__without-margin-top,
h1.__without-margin-top,
h2.__without-margin-top,
h3.__without-margin-top,
h4.__without-margin-top,
h5.__without-margin-top,
h6.__without-margin-top {
    margin-top: 0
}

.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #222
}

.h1 a:focus,
.h1 a:hover,
.h2 a:focus,
.h2 a:hover,
.h3 a:focus,
.h3 a:hover,
.h4 a:focus,
.h4 a:hover,
.h5 a:focus,
.h5 a:hover,
.h6 a:focus,
.h6 a:hover,
h1 a:focus,
h1 a:hover,
h2 a:focus,
h2 a:hover,
h3 a:focus,
h3 a:hover,
h4 a:focus,
h4 a:hover,
h5 a:focus,
h5 a:hover,
h6 a:focus,
h6 a:hover {
    color: #222
}

blockquote,
p {
    margin-bottom: 20px
}

@media (min-width:768px) {
    blockquote,
    p {
        margin-bottom: 20px
    }
}

@media (min-width:992px) {
    blockquote,
    p {
        margin-bottom: 20px
    }
}

@media (min-width:1200px) {
    blockquote,
    p {
        margin-bottom: 20px
    }
}

.widget-paragraph p:last-child {
    margin-bottom: 0
}

.table {
    margin-bottom: 0
}

blockquote {
    padding: 10px 20px;
    border: 0;
    background: #ececec;
    font-size: 15px
}

@media (min-width:768px) {
    blockquote {
        font-size: 15px
    }
}

@media (min-width:992px) {
    blockquote {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    blockquote {
        font-size: 15px
    }
}

a,
a:focus {
    outline: 0
}

ol,
ul {
    list-style-position: inside
}

ol ol,
ol ul,
ul ol,
ul ul {
    padding-left: 25px
}

ul {
    padding: 0;
    margin-bottom: 20px
}

@media (min-width:768px) {
    ul {
        padding: 0;
        margin-bottom: 20px
    }
}

@media (min-width:992px) {
    ul {
        padding: 0;
        margin-bottom: 20px
    }
}

@media (min-width:1200px) {
    ul {
        padding: 0;
        margin-bottom: 20px
    }
}

ol {
    padding: 0;
    margin-bottom: 20px
}

@media (min-width:768px) {
    ol {
        padding: 0;
        margin-bottom: 20px
    }
}

@media (min-width:992px) {
    ol {
        padding: 0;
        margin-bottom: 20px
    }
}

@media (min-width:1200px) {
    ol {
        padding: 0;
        margin-bottom: 20px
    }
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none
}

hr {
    border-color: #cecece
}

.reset-paddings-in-columns .row {
    margin-left: 0;
    margin-right: 0
}

.reset-paddings-in-columns [class*=col-lg-],
.reset-paddings-in-columns [class*=col-md-],
.reset-paddings-in-columns [class*=col-sm-],
.reset-paddings-in-columns [class*=col-xs-] {
    padding-left: 0;
    padding-right: 0
}

.lazy-picture {
    position: relative;
    display: inline-block;
    max-width: 100%;
    width: 100%
}

.lazy-picture__preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px
}

.lazy-picture__placeholder {
    padding-bottom: 75%
}

.lazy-picture__placeholder+img,
.lazy-picture__placeholder+picture img {
    position: absolute;
    top: 0;
    left: 0
}

.lazy-picture img,
.lazy-picture source {
    z-index: 1;
    opacity: 1;
    -webkit-transition: all .15s ease;
    transition: all .15s ease
}

.lazy-picture img.lazy-picture_loading,
.lazy-picture img[data-src],
.lazy-picture source.lazy-picture_loading,
.lazy-picture source[data-src] {
    opacity: 0
}

.lazy-picture img.non-transition,
.lazy-picture source.non-transition {
    -webkit-transition: none;
    transition: none
}

.__module-with-content,
.widget-button,
.widget-buttons-group,
.widget-image,
.widget-paragraph {
    margin-bottom: 25px
}

.text-small {
    font-size: 13px
}

@media (min-width:768px) {
    .text-small {
        font-size: 13px
    }
}

@media (min-width:992px) {
    .text-small {
        font-size: 13px
    }
}

@media (min-width:1200px) {
    .text-small {
        font-size: 13px
    }
}

.text-extra-small {
    font-size: 11px
}

@media (min-width:768px) {
    .text-extra-small {
        font-size: 11px
    }
}

@media (min-width:992px) {
    .text-extra-small {
        font-size: 11px
    }
}

@media (min-width:1200px) {
    .text-extra-small {
        font-size: 11px
    }
}

.text-extra-small-color {
    color: #666
}

.text-highlight {
    color: #888
}

.text-primary {
    color: #db2121
}

.text-light {
    font-weight: 200
}

sup {
    top: -.25em
}

.aspect-ratio-block {
    display: block;
    position: relative
}

.aspect-ratio-block.__xs-4x3 {
    padding-bottom: 75%
}

.aspect-ratio-block.__xs-4x3 .aspect-ratio-block_inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.aspect-ratio-block.__xs-16x9 {
    padding-bottom: 56.25%
}

.aspect-ratio-block.__xs-16x9 .aspect-ratio-block_inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.aspect-ratio-block.__xs-16x10 {
    padding-bottom: 62.5%
}

.aspect-ratio-block.__xs-16x10 .aspect-ratio-block_inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.aspect-ratio-block.__xs-reset {
    padding-bottom: 0
}

.aspect-ratio-block.__xs-reset .aspect-ratio-block_inner {
    position: static
}

@media (min-width:768px) {
    .aspect-ratio-block.__sm-4x3 {
        padding-bottom: 75%
    }
    .aspect-ratio-block.__sm-4x3 .aspect-ratio-block_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .aspect-ratio-block.__sm-16x9 {
        padding-bottom: 56.25%
    }
    .aspect-ratio-block.__sm-16x9 .aspect-ratio-block_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .aspect-ratio-block.__sm-16x10 {
        padding-bottom: 62.5%
    }
    .aspect-ratio-block.__sm-16x10 .aspect-ratio-block_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .aspect-ratio-block.__sm-reset {
        padding-bottom: 0
    }
    .aspect-ratio-block.__sm-reset .aspect-ratio-block_inner {
        position: static
    }
}

@media (min-width:992px) {
    .aspect-ratio-block.__md-4x3 {
        padding-bottom: 75%
    }
    .aspect-ratio-block.__md-4x3 .aspect-ratio-block_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .aspect-ratio-block.__md-16x9 {
        padding-bottom: 56.25%
    }
    .aspect-ratio-block.__md-16x9 .aspect-ratio-block_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .aspect-ratio-block.__md-16x10 {
        padding-bottom: 62.5%
    }
    .aspect-ratio-block.__md-16x10 .aspect-ratio-block_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .aspect-ratio-block.__md-reset {
        padding-bottom: 0
    }
    .aspect-ratio-block.__md-reset .aspect-ratio-block_inner {
        position: static
    }
}

@media (min-width:1200px) {
    .aspect-ratio-block.__lg-4x3 {
        padding-bottom: 75%
    }
    .aspect-ratio-block.__lg-4x3 .aspect-ratio-block_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .aspect-ratio-block.__lg-16x9 {
        padding-bottom: 56.25%
    }
    .aspect-ratio-block.__lg-16x9 .aspect-ratio-block_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .aspect-ratio-block.__lg-16x10 {
        padding-bottom: 62.5%
    }
    .aspect-ratio-block.__lg-16x10 .aspect-ratio-block_inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .aspect-ratio-block.__lg-reset {
        padding-bottom: 0
    }
    .aspect-ratio-block.__lg-reset .aspect-ratio-block_inner {
        position: static
    }
}

.aspect-ratio-block.__image picture {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%
}

.aspect-ratio-block.__image img {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
    max-height: 100%
}

.aspect-ratio-block.__image.__ta-right .aspect-ratio-block_inner,
.aspect-ratio-block.__image.__ta-right picture {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.aspect-ratio-block.__image.__ta-center .aspect-ratio-block_inner,
.aspect-ratio-block.__image.__ta-center picture {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.aspect-ratio-block.__image.__va-middle .aspect-ratio-block_inner,
.aspect-ratio-block.__image.__va-middle picture {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.aspect-ratio-block.__image.__va-bottom .aspect-ratio-block_inner,
.aspect-ratio-block.__image.__va-bottom picture {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.vertical-alignment {
    font-size: 0
}

.vertical-alignment:before {
    display: inline-block;
    content: "";
    height: 100%;
    min-height: inherit;
    vertical-align: inherit
}

.vertical-alignment_content {
    display: inline-block;
    font-size: 1rem;
    vertical-align: inherit;
    width: 100%
}

.vertical-alignment.__middle {
    vertical-align: middle
}

.vertical-alignment.__middle .__inline-block-grid {
    vertical-align: middle
}

.vertical-alignment.__bottom {
    vertical-align: bottom
}

.vertical-alignment.__bottom .__inline-block-grid {
    vertical-align: bottom
}

.__inline-block-grid .col-xs-1,
.__inline-block-grid .col-xs-10,
.__inline-block-grid .col-xs-11,
.__inline-block-grid .col-xs-12,
.__inline-block-grid .col-xs-2,
.__inline-block-grid .col-xs-3,
.__inline-block-grid .col-xs-4,
.__inline-block-grid .col-xs-5,
.__inline-block-grid .col-xs-6,
.__inline-block-grid .col-xs-7,
.__inline-block-grid .col-xs-8,
.__inline-block-grid .col-xs-9 {
    font-size: 1rem;
    float: none;
    display: inline-block;
    vertical-align: inherit
}

.__inline-block-grid .col-sm-1,
.__inline-block-grid .col-sm-10,
.__inline-block-grid .col-sm-11,
.__inline-block-grid .col-sm-12,
.__inline-block-grid .col-sm-2,
.__inline-block-grid .col-sm-3,
.__inline-block-grid .col-sm-4,
.__inline-block-grid .col-sm-5,
.__inline-block-grid .col-sm-6,
.__inline-block-grid .col-sm-7,
.__inline-block-grid .col-sm-8,
.__inline-block-grid .col-sm-9 {
    font-size: 1rem;
    float: none;
    display: inline-block;
    vertical-align: inherit
}

.__inline-block-grid .col-md-1,
.__inline-block-grid .col-md-10,
.__inline-block-grid .col-md-11,
.__inline-block-grid .col-md-12,
.__inline-block-grid .col-md-2,
.__inline-block-grid .col-md-3,
.__inline-block-grid .col-md-4,
.__inline-block-grid .col-md-5,
.__inline-block-grid .col-md-6,
.__inline-block-grid .col-md-7,
.__inline-block-grid .col-md-8,
.__inline-block-grid .col-md-9 {
    font-size: 1rem;
    float: none;
    display: inline-block;
    vertical-align: inherit
}

.__inline-block-grid .col-lg-1,
.__inline-block-grid .col-lg-10,
.__inline-block-grid .col-lg-11,
.__inline-block-grid .col-lg-12,
.__inline-block-grid .col-lg-2,
.__inline-block-grid .col-lg-3,
.__inline-block-grid .col-lg-4,
.__inline-block-grid .col-lg-5,
.__inline-block-grid .col-lg-6,
.__inline-block-grid .col-lg-7,
.__inline-block-grid .col-lg-8,
.__inline-block-grid .col-lg-9 {
    font-size: 1rem;
    float: none;
    display: inline-block;
    vertical-align: inherit
}

.__inline-block-grid,
.__inline-block-grid .row {
    font-size: 0;
    vertical-align: top
}

.container-global {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%
}

.container-content {
    position: relative
}

.video-background-wrapper {
    position: relative
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: 0;
    display: none
}

.video-background.__ready {
    display: block
}

.video-background.__playing {
    opacity: 1
}

.video-background:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.video-background_iframe {
    position: absolute;
    width: 100%;
    height: 100%
}

.full-height {
    min-height: 100vh
}

.clear {
    clear: both
}

.__ie .preloader {
    -webkit-animation: rotate-ie .8s linear infinite;
    animation: rotate-ie .8s linear infinite
}

.__ie .preloader .preloader_animated-circle {
    -webkit-animation: none;
    animation: none
}

.__success.__ie .preloader {
    -webkit-animation: none;
    animation: none
}

.preloader_background-circle {
    fill: none;
    stroke: rgba(0, 0, 0, .2);
    stroke-width: 8px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.__success .preloader_background-circle {
    stroke-width: 3px
}

.__inverse .preloader_background-circle {
    stroke: rgba(255, 255, 255, .2)
}

.preloader_animated-circle {
    fill: none;
    stroke: #000;
    stroke-width: 8px;
    stroke-dasharray: 33px 99px;
    stroke-dashoffset: 49px;
    -webkit-animation: rotate .8s linear infinite;
    animation: rotate .8s linear infinite;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.__success .preloader_animated-circle {
    stroke-width: 3px;
    stroke: #48a648;
    stroke-dasharray: 132px 0
}

.__inverse .preloader_animated-circle {
    stroke: #fff
}

.preloader_checkmark {
    stroke-width: 3px;
    stroke: #48a648;
    fill: none;
    stroke-dasharray: 40px;
    stroke-dashoffset: 40px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.__success .preloader_checkmark {
    stroke-dashoffset: 0;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

@-webkit-keyframes rotate {
    from {
        stroke-dashoffset: 49px
    }
    to {
        stroke-dashoffset: -83px
    }
}

@keyframes rotate {
    from {
        stroke-dashoffset: 49px
    }
    to {
        stroke-dashoffset: -83px
    }
}

@-webkit-keyframes rotate-ie {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate-ie {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.module-preloader {
    position: relative
}

.module-preloader_locker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 180
}

.module-preloader_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    opacity: .5
}

.module-preloader_circle {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    top: 25px;
    margin-top: -25px;
    -webkit-transition: none;
    transition: none
}

.module-preloader_circle.__small {
    width: 25px;
    height: 25px;
    margin-top: -12px;
    margin-left: -12px
}

.ajax-system-error {
    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
    z-index: 1300;
    text-align: center
}

.ajax-system-error_inner {
    display: inline-block;
    text-align: left;
    border: 1px solid #f0c36d;
    background: #f9edbe;
    padding: 3px 17px 3px 10px;
    position: relative
}

.ajax-system-error_close {
    color: inherit;
    display: inline-block;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 4px
}

.ajax-system-error_close:hover {
    text-decoration: underline
}

.collapsible {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #cecece
}

.collapsible+.collapsible {
    border-top: 0
}

.collapsible_title {
    font-size: 22px;
    line-height: 1.1;
    font-weight: 800;
    text-transform: uppercase;
    color: #222;
    display: block;
    text-decoration: none;
    position: relative;
    z-index: 10;
    padding: 20px 0
}

@media (min-width:768px) {
    .collapsible_title {
        font-size: 22px
    }
}

@media (min-width:992px) {
    .collapsible_title {
        font-size: 22px
    }
}

@media (min-width:1200px) {
    .collapsible_title {
        font-size: 22px
    }
}

.collapsible_title .icon {
    position: relative;
    margin-right: 10px
}

.collapsible_title .closed-icon {
    display: none
}

.collapsible_title.collapsed .closed-icon {
    display: inline-block
}

.collapsible_title.collapsed .opened-icon {
    display: none
}

.collapsible_title:focus,
.collapsible_title:hover {
    text-decoration: underline;
    color: #222
}

.collapsible_content {
    padding-top: 10px;
    padding-bottom: 50px
}

.btn {
    white-space: normal
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: .6;
    box-shadow: none;
    cursor: not-allowed
}

.btn .df-icon,
.btn.df-icon:before {
    margin-right: 7px
}

.btn.__text-transform-none {
    text-transform: none
}

.btn.__full-width {
    width: 100%
}

.btn.__loading {
    position: relative;
    opacity: .75
}

.btn.__loading,
.btn.__loading:active {
    color: transparent
}

.btn.__loading .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    z-index: 1
}

.tooltip {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none
}

@media (min-width:768px) {
    .tooltip {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        text-transform: none
    }
}

@media (min-width:992px) {
    .tooltip {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        text-transform: none
    }
}

@media (min-width:1200px) {
    .tooltip {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        text-transform: none
    }
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #222
}

.tooltip.top .tooltip-arrow {
    border-top-color: #222
}

.tooltip.left .tooltip-arrow {
    border-left-color: #222
}

.tooltip.right .tooltip-arrow {
    border-right-color: #222
}

.tooltip-inner {
    color: #fff;
    border: 0 solid transparent;
    border-radius: 3px;
    background-color: #222;
    padding: 6px 15px
}

@media (min-width:768px) {
    .tooltip-inner {
        border: 0 solid transparent;
        border-radius: 3px
    }
}

@media (min-width:992px) {
    .tooltip-inner {
        border: 0 solid transparent;
        border-radius: 3px
    }
}

@media (min-width:1200px) {
    .tooltip-inner {
        border: 0 solid transparent;
        border-radius: 3px
    }
}

.popover {
    color: #444;
    font-family: inherit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    border: 1px solid #cecece;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .15);
    padding: 15px 20px 15px 20px;
    max-width: 320px
}

@media (min-width:768px) {
    .popover {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        border: 1px solid #cecece;
        border-radius: 3px;
        padding: 15px 20px 15px 20px
    }
}

@media (min-width:992px) {
    .popover {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        border: 1px solid #cecece;
        border-radius: 3px;
        padding: 15px 20px 15px 20px
    }
}

@media (min-width:1200px) {
    .popover {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        border: 1px solid #cecece;
        border-radius: 3px;
        padding: 15px 20px 15px 20px
    }
}

.popover-title {
    background: 0 0;
    border: 0;
    font-size: 17px;
    padding: 0;
    margin-bottom: 10px
}

.popover-content {
    padding: 0
}

.popover p {
    margin-bottom: 0
}

.popover:before {
    content: "";
    display: block;
    position: absolute
}

.popover.top:before {
    height: 10px;
    bottom: -11px;
    left: 0;
    right: 0
}

@media (min-width:768px) {
    .popover.top:before {
        bottom: -11px
    }
}

@media (min-width:992px) {
    .popover.top:before {
        bottom: -11px
    }
}

@media (min-width:1200px) {
    .popover.top:before {
        bottom: -11px
    }
}

.popover.top>.arrow {
    border-top-color: #cecece
}

.popover.top>.arrow:after {
    border-top-color: #fff
}

.popover.right:before {
    width: 10px;
    left: -11px;
    top: 0;
    bottom: 0
}

@media (min-width:768px) {
    .popover.right:before {
        left: -11px
    }
}

@media (min-width:992px) {
    .popover.right:before {
        left: -11px
    }
}

@media (min-width:1200px) {
    .popover.right:before {
        left: -11px
    }
}

.popover.right>.arrow {
    border-right-color: #cecece
}

.popover.right>.arrow:after {
    border-right-color: #fff
}

.popover.bottom:before {
    height: 10px;
    top: -11px;
    left: 0;
    right: 0
}

@media (min-width:768px) {
    .popover.bottom:before {
        top: -11px
    }
}

@media (min-width:992px) {
    .popover.bottom:before {
        top: -11px
    }
}

@media (min-width:1200px) {
    .popover.bottom:before {
        top: -11px
    }
}

.popover.bottom>.arrow {
    border-bottom-color: #cecece
}

.popover.bottom>.arrow:after {
    border-bottom-color: #fff
}

.popover.left:before {
    width: 10px;
    right: -11px;
    top: 0;
    bottom: 0
}

@media (min-width:768px) {
    .popover.left:before {
        right: -11px
    }
}

@media (min-width:992px) {
    .popover.left:before {
        right: -11px
    }
}

@media (min-width:1200px) {
    .popover.left:before {
        right: -11px
    }
}

.popover.left>.arrow {
    border-left-color: #cecece
}

.popover.left>.arrow:after {
    border-left-color: #fff
}

.gm-style-iw-wrapper.__hidden {
    visibility: hidden
}

.gm-style-iw.popover {
    display: block;
    margin-top: 10px;
    overflow: visible
}

.gm-style-iw+div {
    margin: 16px 12px 0 0
}

.widget-image {
    text-align: left;
    display: block
}

.widget-image.__align-center {
    text-align: center
}

.widget-image.__align-right {
    text-align: right
}

.widget-image_img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%
}

.widget-spacer {
    height: 50px
}

.widget-line-divider {
    margin: 20px 0
}

.parallax {
    background-repeat: no-repeat;
    background-size: cover;
    will-change: top;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.parallax:not(.parallax_bg-scroll) {
    background-attachment: fixed
}

.parallax_bg-scroll.parallax {
    background-attachment: scroll
}

.vehicle-items_view_grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media print {
    .no-print {
        display: none
    }
}

.blurred-bg {
    position: absolute;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    background-position: center center;
    background-size: cover;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    z-index: 0;
    opacity: .52
}

.blurred-bg:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .92;
    background-color: #ececec
}

#aglobal_css-styles-fbef200e13c4debfc46a51b0af053712 {
    width: 0
}