.fly-out-panel {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto
}

.fly-out-panel_overlay {
    display: none
}

.fly-out-panel_content {
    max-width: none;
    width: auto;
    height: auto;
    padding: 0
}

@media (max-width:767px) {
    .fly-out-panel.__xs {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1200;
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%
    }
    .fly-out-panel.__xs.__left {
        right: 100%;
        -webkit-transition-property: right;
        transition-property: right
    }
    .fly-out-panel.__xs.__left .fly-out-panel_content {
        -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
    .fly-out-panel.__xs.__right {
        left: 100%;
        -webkit-transition-property: left;
        transition-property: left
    }
    .fly-out-panel.__xs.__right .fly-out-panel_content {
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
        margin-left: auto
    }
    .fly-out-panel.__xs .fly-out-panel_overlay {
        opacity: 0;
        background: #000;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block
    }
    .__css-loaded .fly-out-panel.__xs .fly-out-panel_overlay {
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease
    }
    .fly-out-panel.__xs .fly-out-panel_content {
        position: relative;
        padding: 20px;
        max-width: 320px;
        width: 85%;
        background: #fff;
        min-height: 100%;
        overflow: auto;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-overflow-scrolling: touch;
        height: 100%
    }
    .__css-loaded .fly-out-panel.__xs .fly-out-panel_content {
        -webkit-transition: -webkit-transform .3s ease;
        transition: transform .3s ease
    }
}

@media (max-width:767px) and (min-width:768px) {
    .fly-out-panel.__xs .fly-out-panel_content {
        padding: 40px
    }
}

@media (max-width:767px) {
    .fly-out-panel.__xs .fly-out-panel_content.module-preloader {
        overflow: hidden
    }
    .fly-out-panel.__xs.__larger-width .fly-out-panel_content {
        max-width: 520px
    }
    .fly-out-panel.__xs.__show {
        -webkit-transition-delay: 0s;
        transition-delay: 0s
    }
    .fly-out-panel.__xs.__show.__left {
        right: 0
    }
    .fly-out-panel.__xs.__show.__right {
        left: 0
    }
    .fly-out-panel.__xs.__show .fly-out-panel_overlay {
        opacity: .65
    }
    .fly-out-panel.__xs.__show .fly-out-panel_content {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@media (max-width:991px) {
    .fly-out-panel.__sm {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1200;
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%
    }
    .fly-out-panel.__sm.__left {
        right: 100%;
        -webkit-transition-property: right;
        transition-property: right
    }
    .fly-out-panel.__sm.__left .fly-out-panel_content {
        -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
    .fly-out-panel.__sm.__right {
        left: 100%;
        -webkit-transition-property: left;
        transition-property: left
    }
    .fly-out-panel.__sm.__right .fly-out-panel_content {
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
        margin-left: auto
    }
    .fly-out-panel.__sm .fly-out-panel_overlay {
        opacity: 0;
        background: #000;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block
    }
    .__css-loaded .fly-out-panel.__sm .fly-out-panel_overlay {
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease
    }
    .fly-out-panel.__sm .fly-out-panel_content {
        position: relative;
        padding: 20px;
        max-width: 320px;
        width: 85%;
        background: #fff;
        min-height: 100%;
        overflow: auto;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-overflow-scrolling: touch;
        height: 100%
    }
    .__css-loaded .fly-out-panel.__sm .fly-out-panel_content {
        -webkit-transition: -webkit-transform .3s ease;
        transition: transform .3s ease
    }
}

@media (max-width:991px) and (min-width:768px) {
    .fly-out-panel.__sm .fly-out-panel_content {
        padding: 40px
    }
}

@media (max-width:991px) {
    .fly-out-panel.__sm .fly-out-panel_content.module-preloader {
        overflow: hidden
    }
    .fly-out-panel.__sm.__larger-width .fly-out-panel_content {
        max-width: 520px
    }
    .fly-out-panel.__sm.__show {
        -webkit-transition-delay: 0s;
        transition-delay: 0s
    }
    .fly-out-panel.__sm.__show.__left {
        right: 0
    }
    .fly-out-panel.__sm.__show.__right {
        left: 0
    }
    .fly-out-panel.__sm.__show .fly-out-panel_overlay {
        opacity: .65
    }
    .fly-out-panel.__sm.__show .fly-out-panel_content {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@media (max-width:1199px) {
    .fly-out-panel.__md {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1200;
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%
    }
    .fly-out-panel.__md.__left {
        right: 100%;
        -webkit-transition-property: right;
        transition-property: right
    }
    .fly-out-panel.__md.__left .fly-out-panel_content {
        -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
    .fly-out-panel.__md.__right {
        left: 100%;
        -webkit-transition-property: left;
        transition-property: left
    }
    .fly-out-panel.__md.__right .fly-out-panel_content {
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
        margin-left: auto
    }
    .fly-out-panel.__md .fly-out-panel_overlay {
        opacity: 0;
        background: #000;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block
    }
    .__css-loaded .fly-out-panel.__md .fly-out-panel_overlay {
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease
    }
    .fly-out-panel.__md .fly-out-panel_content {
        position: relative;
        padding: 20px;
        max-width: 320px;
        width: 85%;
        background: #fff;
        min-height: 100%;
        overflow: auto;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-overflow-scrolling: touch;
        height: 100%
    }
    .__css-loaded .fly-out-panel.__md .fly-out-panel_content {
        -webkit-transition: -webkit-transform .3s ease;
        transition: transform .3s ease
    }
}

@media (max-width:1199px) and (min-width:768px) {
    .fly-out-panel.__md .fly-out-panel_content {
        padding: 40px
    }
}

@media (max-width:1199px) {
    .fly-out-panel.__md .fly-out-panel_content.module-preloader {
        overflow: hidden
    }
    .fly-out-panel.__md.__larger-width .fly-out-panel_content {
        max-width: 520px
    }
    .fly-out-panel.__md.__show {
        -webkit-transition-delay: 0s;
        transition-delay: 0s
    }
    .fly-out-panel.__md.__show.__left {
        right: 0
    }
    .fly-out-panel.__md.__show.__right {
        left: 0
    }
    .fly-out-panel.__md.__show .fly-out-panel_overlay {
        opacity: .65
    }
    .fly-out-panel.__md.__show .fly-out-panel_content {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

.fly-out-panel.__lg {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1200;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}

.fly-out-panel.__lg.__left {
    right: 100%;
    -webkit-transition-property: right;
    transition-property: right
}

.fly-out-panel.__lg.__left .fly-out-panel_content {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
}

.fly-out-panel.__lg.__right {
    left: 100%;
    -webkit-transition-property: left;
    transition-property: left
}

.fly-out-panel.__lg.__right .fly-out-panel_content {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    margin-left: auto
}

.fly-out-panel.__lg .fly-out-panel_overlay {
    opacity: 0;
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block
}

.__css-loaded .fly-out-panel.__lg .fly-out-panel_overlay {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.fly-out-panel.__lg .fly-out-panel_content {
    position: relative;
    padding: 20px;
    max-width: 320px;
    width: 85%;
    background: #fff;
    min-height: 100%;
    overflow: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-overflow-scrolling: touch;
    height: 100%
}

.__css-loaded .fly-out-panel.__lg .fly-out-panel_content {
    -webkit-transition: -webkit-transform .3s ease;
    transition: transform .3s ease
}

@media (min-width:768px) {
    .fly-out-panel.__lg .fly-out-panel_content {
        padding: 40px
    }
}

.fly-out-panel.__lg .fly-out-panel_content.module-preloader {
    overflow: hidden
}

.fly-out-panel.__lg.__larger-width .fly-out-panel_content {
    max-width: 520px
}

.fly-out-panel.__lg.__show {
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.fly-out-panel.__lg.__show.__left {
    right: 0
}

.fly-out-panel.__lg.__show.__right {
    left: 0
}

.fly-out-panel.__lg.__show .fly-out-panel_overlay {
    opacity: .65
}

.fly-out-panel.__lg.__show .fly-out-panel_content {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

#aflyOutPanel_css-fly-out-panel-69a59b862c7aea10fa44f9fa363a8baf {
    width: 0
}