.mod-vehicle-price-theme1 .vehicle-title {
    color: #444;
    font-size: 17px;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    text-transform: none;
    box-sizing: content-box
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .vehicle-title {
        font-size: 17px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1 .vehicle-title {
        font-size: 17px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1 .vehicle-title {
        font-size: 17px
    }
}

.mod-vehicle-price-theme1_clickable-stack:hover {
    cursor: pointer
}

.mod-vehicle-price-theme1 .price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.mod-vehicle-price-theme1 .price_name {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    text-align: left;
    margin-right: 10px;
    overflow: hidden
}

.mod-vehicle-price-theme1 .price_value {
    text-align: right;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.mod-vehicle-price-theme1 .price_separator {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px dotted #cecece
}

.mod-vehicle-price-theme1 .price.__no-decoration .price_name,
.mod-vehicle-price-theme1 .price.__no-decoration .price_value {
    text-decoration: none
}

.mod-vehicle-price-theme1 .price.__final-price {
    margin-bottom: 3px
}

.mod-vehicle-price-theme1 .price.__price-rules-title {
    margin-top: .25em
}

.mod-vehicle-price-theme1 .monthly-payment {
    text-align: right
}

.mod-vehicle-price-theme1.profile-advanced .__final-price .price_name {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .__final-price .price_name {
        font-size: 18px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .__final-price .price_name {
        font-size: 18px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .__final-price .price_name {
        font-size: 18px
    }
}

.mod-vehicle-price-theme1.profile-advanced .__final-price .price_value {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 24px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .__final-price .price_value {
        font-size: 24px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .__final-price .price_value {
        font-size: 24px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .__final-price .price_value {
        font-size: 24px
    }
}

.mod-vehicle-price-theme1.profile-advanced .__advertised-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .__advertised-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .__advertised-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .__advertised-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-advanced .__advertised-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .__advertised-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .__advertised-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .__advertised-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-advanced .__starting-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .__starting-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .__starting-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .__starting-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-advanced .__starting-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .__starting-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .__starting-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .__starting-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-advanced .__dealer-discount-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-advanced .__dealer-discount-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-advanced .__price-rules .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .__price-rules .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .__price-rules .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .__price-rules .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-advanced .__price-rules .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .__price-rules .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .__price-rules .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .__price-rules .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-advanced .__price-rules-title {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .__price-rules-title {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .__price-rules-title {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .__price-rules-title {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-advanced .monthly-payment_link {
    color: #db2121;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-advanced .monthly-payment_link {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-advanced .monthly-payment_link {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-advanced .monthly-payment_link {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-advanced .monthly-payment_link:hover {
    color: #a10000
}

.mod-vehicle-price-theme1.profile-advanced .price-rules-link {
    color: #888
}

.mod-vehicle-price-theme1.profile-custom .__final-price .price_name {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .__final-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .__final-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .__final-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .__final-price .price_value {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .__final-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .__final-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .__final-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .__advertised-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .__advertised-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .__advertised-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .__advertised-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .__advertised-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .__advertised-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .__advertised-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .__advertised-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .__starting-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .__starting-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .__starting-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .__starting-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .__starting-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .__starting-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .__starting-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .__starting-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .__dealer-discount-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .__dealer-discount-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .__price-rules .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .__price-rules .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .__price-rules .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .__price-rules .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .__price-rules .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .__price-rules .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .__price-rules .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .__price-rules .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .__price-rules-title {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .__price-rules-title {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .__price-rules-title {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .__price-rules-title {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .monthly-payment_link {
    color: #db2121;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-custom .monthly-payment_link {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-custom .monthly-payment_link {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-custom .monthly-payment_link {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-custom .monthly-payment_link:hover {
    color: #a10000
}

.mod-vehicle-price-theme1.profile-custom .price-rules-link {
    color: #888
}

.mod-vehicle-price-theme1.profile-simple .__final-price .price_name {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .__final-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .__final-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .__final-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .__final-price .price_value {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .__final-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .__final-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .__final-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .__advertised-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .__advertised-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .__advertised-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .__advertised-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .__advertised-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .__advertised-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .__advertised-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .__advertised-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .__starting-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .__starting-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .__starting-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .__starting-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .__starting-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .__starting-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .__starting-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .__starting-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .__dealer-discount-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .__dealer-discount-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .__price-rules .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .__price-rules .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .__price-rules .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .__price-rules .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .__price-rules .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .__price-rules .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .__price-rules .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .__price-rules .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .__price-rules-title {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .__price-rules-title {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .__price-rules-title {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .__price-rules-title {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .monthly-payment_link {
    color: #db2121;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-simple .monthly-payment_link {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-simple .monthly-payment_link {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-simple .monthly-payment_link {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-simple .monthly-payment_link:hover {
    color: #a10000
}

.mod-vehicle-price-theme1.profile-simple .price-rules-link {
    color: #888
}

.mod-vehicle-price-theme1.profile-one-price .__final-price .price_name {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .__final-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .__final-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .__final-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .__final-price .price_value {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .__final-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .__final-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .__final-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .__advertised-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .__advertised-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .__advertised-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .__advertised-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .__advertised-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .__advertised-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .__advertised-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .__advertised-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .__starting-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .__starting-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .__starting-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .__starting-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .__starting-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .__starting-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .__starting-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .__starting-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .__dealer-discount-price .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .__dealer-discount-price .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .__dealer-discount-price .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .__dealer-discount-price .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .__price-rules .price_name {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .__price-rules .price_name {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .__price-rules .price_name {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .__price-rules .price_name {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .__price-rules .price_value {
    color: #444;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .__price-rules .price_value {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .__price-rules .price_value {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .__price-rules .price_value {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .__price-rules-title {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .__price-rules-title {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .__price-rules-title {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .__price-rules-title {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .monthly-payment_link {
    color: #db2121;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price .monthly-payment_link {
        font-size: 15px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price .monthly-payment_link {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price .monthly-payment_link {
        font-size: 15px
    }
}

.mod-vehicle-price-theme1.profile-one-price .monthly-payment_link:hover {
    color: #a10000
}

.mod-vehicle-price-theme1.profile-one-price .price-rules-link {
    color: #888
}

.mod-vehicle-price-theme1.profile-one-price-no-label .one-price {
    color: #444;
    font-weight: 700;
    text-decoration: none;
    font-size: 19px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1.profile-one-price-no-label .one-price {
        font-size: 19px
    }
}

@media (min-width:992px) {
    .mod-vehicle-price-theme1.profile-one-price-no-label .one-price {
        font-size: 19px
    }
}

@media (min-width:1200px) {
    .mod-vehicle-price-theme1.profile-one-price-no-label .one-price {
        font-size: 19px
    }
}

.mod-vehicle-price-theme1 .fly-out-panel.__lg .fly-out-panel_content {
    background: #ececec;
    width: 100%
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .fly-out-panel.__lg .fly-out-panel_content {
        max-width: 670px
    }
}

.mod-vehicle-price-theme1 .price-rules-link {
    text-decoration: none
}

.mod-vehicle-price-theme1 .price-rules-heading {
    margin: -20px -20px 0;
    padding: 10px 45px 10px 20px;
    background: #db2121;
    color: #fff;
    position: relative
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-heading {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: -40px -40px 0;
        padding: 0 20px
    }
}

.mod-vehicle-price-theme1 .price-rules-heading__title {
    font-weight: 700
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-heading__title {
        white-space: nowrap
    }
}

.mod-vehicle-price-theme1 .price-rules-heading__location {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-heading__location {
        margin-right: 10px;
        overflow: hidden
    }
}

.mod-vehicle-price-theme1 .price-rules-heading__icon,
.mod-vehicle-price-theme1 .price-rules-heading__title {
    margin-right: 10px
}

.mod-vehicle-price-theme1 .price-rules-heading__address {
    color: #fff
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-heading__address {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
    }
}

.mod-vehicle-price-theme1 .price-rules-heading__close-btn {
    font-size: 2rem;
    cursor: pointer
}

@media (max-width:767px) {
    .mod-vehicle-price-theme1 .price-rules-heading__close-btn {
        position: absolute;
        top: 0;
        right: 20px
    }
}

.mod-vehicle-price-theme1 .price-rules-info {
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    margin-top: 30px
}

.mod-vehicle-price-theme1 .price-rules-info_additional-padding {
    padding: 20px
}

.mod-vehicle-price-theme1 .price-rules-info__heading {
    font-size: 1.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer
}

.mod-vehicle-price-theme1 .price-rules-info__heading:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 50px;
    border-bottom: 3px solid #000;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 center;
    -ms-transform-origin: 0 center;
    transform-origin: 0 center;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.86, 0, .07, 1);
    transition: transform .3s cubic-bezier(.86, 0, .07, 1)
}

.mod-vehicle-price-theme1 .price-rules-info__heading .price-rules-info__heading-icon_down {
    display: block
}

.mod-vehicle-price-theme1 .price-rules-info__heading.collapse-block-opened:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1)
}

.mod-vehicle-price-theme1 .price-rules-info__heading.collapse-block-opened .price-rules-info__heading-icon_collapse {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}

.mod-vehicle-price-theme1 .price-rules-info__heading-icon {
    font-size: 2rem;
    margin-left: 15px
}

.mod-vehicle-price-theme1 .price-rules-info__heading-icon_collapse {
    display: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-info__heading-icon_collapse {
        display: block;
        -webkit-transition: -webkit-transform .3s ease;
        transition: transform .3s ease
    }
}

.mod-vehicle-price-theme1 .price-rules-info__title-wrapper {
    margin-bottom: 5px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-info__title-wrapper {
        margin-bottom: 0
    }
}

.mod-vehicle-price-theme1 .price-rules-info__title {
    font-weight: 700
}

.mod-vehicle-price-theme1 .price-rules-info__sub-title {
    display: block
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-info__sub-title {
        display: inline-block
    }
}

.mod-vehicle-price-theme1 .price-rules-vehicle {
    padding: 20px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-vehicle {
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.mod-vehicle-price-theme1 .price-rules-vehicle__picture {
    margin: 0 20px 15px 0;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 35%
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-vehicle__picture {
        margin: 0 20px 0 0;
        height: 140px;
        float: none;
        max-width: 40%
    }
}

.mod-vehicle-price-theme1 .price-rules-vehicle__image {
    width: auto
}

.mod-vehicle-price-theme1 .price-rules-vehicle__title {
    line-height: 1.3;
    margin-bottom: 5px
}

.mod-vehicle-price-theme1 .price-rules-vehicle__label {
    font-weight: 700;
    margin-right: 5px
}

.mod-vehicle-price-theme1 .price-rules-general__line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px
}

.mod-vehicle-price-theme1 .price-rules-general__line_advertised-price,
.mod-vehicle-price-theme1 .price-rules-general__line_starting-price {
    font-weight: 700
}

.mod-vehicle-price-theme1 .price-rules-general__line_msrp {
    font-size: 1.1em;
    font-weight: 700
}

.mod-vehicle-price-theme1 .price-rules-general__line_final-price {
    padding: 10px 0;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece
}

.mod-vehicle-price-theme1 .price-rules-general__line_final-price .price-rules-general__title,
.mod-vehicle-price-theme1 .price-rules-general__line_final-price .price-rules-general__value {
    font-size: 1.2em;
    font-weight: 700
}

.mod-vehicle-price-theme1 .price-rules-general__separator {
    margin: 10px 0
}

.mod-vehicle-price-theme1 .price-rules-general__value {
    white-space: nowrap
}

.mod-vehicle-price-theme1 .price-rules-general__offer-marker {
    color: #db2121
}

.mod-vehicle-price-theme1 .price-rules-offers__offer {
    margin-top: 20px
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-offers__offer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

.mod-vehicle-price-theme1 .price-rules-offers__offer-heading {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%
}

.mod-vehicle-price-theme1 .price-rules-offers__offer-title {
    font-size: 13px;
    font-weight: 700
}

.mod-vehicle-price-theme1 .price-rules-offers__offer-title_no-dates {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

.mod-vehicle-price-theme1 .price-rules-offers__offer-price {
    color: #db2121;
    margin-left: 5px
}

.mod-vehicle-price-theme1 .price-rules-offers__offer-date,
.mod-vehicle-price-theme1 .price-rules-offers__offer-program-description {
    font-size: 13px
}

.mod-vehicle-price-theme1 .price-rules-offers__offer-details {
    color: #db2121;
    border-bottom: 1px dashed #db2121;
    cursor: pointer;
    display: inline-block
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-offers__offer-details {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin-left: auto
    }
}

.mod-vehicle-price-theme1 .price-rules-offers__offer-details-info {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.mod-vehicle-price-theme1 .price-rules-offers__offer-content {
    background: #ececec;
    padding: 20px;
    border-radius: 3px;
    margin-top: 20px;
    position: relative
}

.mod-vehicle-price-theme1 .price-rules-offers__offer-content:before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 99%;
    width: 0;
    height: 0;
    border-bottom: 15px solid #ececec;
    border-left: 0 solid transparent;
    border-right: 10px solid transparent
}

@media (min-width:768px) {
    .mod-vehicle-price-theme1 .price-rules-offers__offer-content:before {
        left: auto;
        right: 15px
    }
}

.mod-vehicle-price-theme1 .price-rules-disclaimer {
    margin-top: 20px
}